.row {
  margin-bottom: 10px;
}

.main-col {
  padding: 10px;
}

.form-select {
  width: "100%";
}

.btn-submit {
  background-color: green;
  font-weight: bold;
  font-size: 14px;
}

.btn-submit:hover {
  background-color: greenyellow;
}
